<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
    <title>Pagina inicio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../vista/css/index.css"/>
	
</head>
<body >
<!--<?php

    session_start();//reanudamos sesion para recuperar lo que se almaceno durante sesion en la otra pagina

    if (!isset($_SESSION["usuario"])) { //si nadi inicio sesion 
    	
    	header("location:../fullscreen-login/i.php");   //regresamos a pagina de login

    } 

    ?>
<?php
	
	echo "<h2> Pagina Administradores</h2>";

    echo "Bienvenido: " .$_SESSION["usuario"]."<br><br>";

    ?>
-->

<div  class="linea1">

  <div  class="logo">

  </div>  

</div> 


<div id="header" class="header">   <!--cabecera-->
      
      <!--MENUI DESPLEGABLE-->

      <ul   class="nav">
        <li><a  href="" >Home</a>
          <ul>
            <li><a  href="" >1</a></li>

          </ul>
        </li>

        <li class="login">
         <a  href="../fullscreen-login/index.php" >Login</a>
        </li>

        <li><a  href="" >Acerca de</a>
          
        </li>

        <li><a  href="" >Contact</a>
         
        </li>

        

      </ul>

</div>   <!--acaba cabecera-->

<div class="parallax"></div>           <!-- donde haya esto se añade un paralax -->
<div class ="administrativos"></div>

<div class="tablero" ng-controller="cntrl" style="background-image: url(../imagenes/EmployeeBack1.jpeg)">
	<h1 align="center">Administrativos</h1>
	<div class="row">
	  <div class="column" ng-repeat="usuario in names | orderBy : 'Nombre' | filter : 'Administrativo'">
		<div class="card" style="background-color:rgba(255,255,255,0.78);color:#4E4E4E ;text-align: center">
		  <img src="../imagenes/img_avatar2.png" alt="{{usuario.Nombre}}" style="width:100%">
		  <div class="container">
			<h3>{{usuario.Nombre}} {{usuario.Apellido1}} {{usuario.Apellido2}}</h3>
			<br>
			<p class="title">{{usuario.Categoria}}</p>
			
			<!--<p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
      		<div style="margin: 15px 0;">
				<a class="{{usuario.id}}" href="" onClick="SnackbarInfo();email(this.className)" style="text-decoration: none;font-size: 22px; color: black;">
				<i class="fa fa-envelope"></i></a>
				
			</div>
			<br>
			<p><button class="button" >Contact</button></p>
		  </div>
		</div>
	  </div>
	</div> 
</div>


<div class="empleados"></div>

<script src="js/angular.min.js"></script>

<div class="tablero" ng-controller="cntrl" style="background: url(../imagenes/EmployeeBack2.jpg)">
	<h1 align="center">Empleados</h1>
	<div class="row">
	  <div class="column" ng-repeat="usuario in names | orderBy : 'Nombre' | filter : '!Administrativo'">
		<div class="card" style="background-color:rgba(255,255,255,0.78);color:#4E4E4E ;text-align: center">
		  <img src="../imagenes/img_avatar2.png" alt="{{usuario.Nombre}}" style="width:100%">
		  <div class="container">
			<h3>{{usuario.Nombre}} {{usuario.Apellido1}} {{usuario.Apellido2}}</h3>
			<br>
			<p class="title">{{usuario.Categoria}}</p>
			
			<!--<p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
      		<div style="margin: 15px 0;">
				<a class="{{usuario.id}}" href="" onClick="SnackbarInfo();email(this.className)" style="text-decoration: none;font-size: 22px; color: black;">
				<i class="fa fa-envelope"></i></a>
				
			</div>
			<br>
			<p><button class="button" >Contact</button></p>
		  </div>
		</div>
	  </div>
	</div> 
</div>

<script>
var app=angular.module('holaApp',[]);
app.controller('cntrl', function($scope,$http){

	$http.get("../php/customers_mysql.php").then(function (response) 
	{
		$scope.names = response.data.records;
	})

});

	function SnackbarInfo() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar");

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
}
	
	function email (a){
		var x = "Se ha copiado al portapapeles: ";
		var q = a;
		
		$.ajax({
    		// aqui va la ubicación de la página PHP
		  url: '../app/php/search.php',
		  type: 'post',
		  /*dataType: 'html',*/
		  data: {'q':q},
		  success:function(resultado){
		   // imprime "resultado Funcion"
		   //alert(resultado);
			var b = resultado;
			x = x+b;
    		document.getElementById("snackbar").innerHTML = x;
		  }})
	}
	
	/*function searchEmployee (order,where,like){
		
		var order = order;
		var where = where;
		var like = like;
		
		$.ajax({
    		// aqui va la ubicación de la página PHP
		  url: '../app/php/searchEmployee.php',
		  type: 'post',
		  data: {'order':order,'where':where,'like':like},
		  success:function(listadoCompleto){
			  var x = listadoCompleto;
			  var rows = listadoCompleto.split(".");
			  for(var i;i<rows.length;i++)
				  {
					  var columns = rows[i].split(",");
					  for(var j;j<columns.length;j++)
					  {
						  <div class="column">
							<div class="card" style="background-color:rgba(255,255,255,0.78);color:#4E4E4E;text-align: center">
							  <img src="../imagenes/img_avatar2.png" alt="columns[1]" style="width:100%">
							  <div class="container">
								<h3>columns[1] columns[2] columns[3]</h3>
								<br>
								<p class="title">columns[5]</p>
								<br>
								<div style="margin: 15px 0;">
									<a class="columns[0]" href="" onClick="SnackbarInfo();email(this.className)" style="text-decoration: none;font-size: 22px; color: black;">
										<i class="fa fa-envelope"></i>
									</a>
									<div id="snackbar"></div>
								</div>
								<br>
								<p><button class="button">Contact</button></p>
							  </div>
							</div>
						  </div>
					  }
				  }
			  
		  }	
		})
	}
	*/
</script>

<div class="parallax"></div>


<script src="js/jquery.js"></script>
<script src="../php/customers_mysql.php"></script>
<script src="../php/search.php"></script>
<script src="../php/searchEmployee.php"></script>

</body>
</html>

