<!DOCTYPE html>
<html>
<head>

  	<meta charset="utf-8">
    <title>Pagina inicio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->

</head>


<body ng-app="holaApp">



<div  class="linea1">

  <div  class="logo">

  </div>  

</div> 




<div id="header" class="header">   <!--cabecera-->
      


      <!--MENUI DESPLEGABLE-->



      <ul   class="nav">
        <li><a  ng-href="" >Home</a>
          <ul>
            <li><a  ng-href="" >1</a></li>

          </ul>
        </li>

        <li class="login"><a  ng-href="../login.html" >Login</a>
          <!-- <ul>
            <li><a  ng-href="" >



             <!--  <form  action="/login.php">


                <div    class="cuadroC">



                  <div  class="imagenC">
                  </div>



                  <div class="logueoC">

                    <input type="text" placeholder="Enter ID" name="uname" required>


                    <input type="password" placeholder="Password" name="psw" required>

                    <div>

                         <input type="checkbox" checked="checked"> Remember me

                    </div>

                    
                    <button type="submit">LOGIN</button>

                  </div>




                </div>



              </form> -->

             <!-- <form action="/login.php">
              <div class="imgcontainer">
                <img src="../images/logoEmpresa.png" alt="Avatar" class="avatar">
              </div>

              <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <input type="checkbox" checked="checked"> Remember me
              </div>

              <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
              </div>
            </form>


            </a></li>

          </ul> --> 
        </li>

        <li><a  ng-href="" >Acerca de</a>
          <ul>
            <li><a  ng-href="" >1</a></li>

          </ul>
        </li>

        <li><a  ng-href="" >Contact</a>
          <ul>
            <li><a  ng-href="" >1</a></li>

          </ul>
        </li>

        

      </ul>

</div>   <!--acaba cabecera-->

<div class="parallax"></div>           <!-- donde haya esto se añade un paralax -->
<div class ="administrativos"></div>
	
<div class="tablero" ng-controller="cntrl" style="background-image: url(images/EmployeeBack1.jpeg)">
	<h1 align="center">Administrativos</h1>
	<div class="row">
	  <div class="column" ng-repeat="usuario in names | orderBy : 'Nombre' | filter : 'Administrativo'">
		<div class="card" style="background-color:rgba(255,255,255,0.78);color:#4E4E4E">
		  <img src="images/img_avatar2.png" alt="{{usuario.Nombre}}" style="width:100%">
		  <div class="container">
			<h3>{{usuario.Nombre}} {{usuario.Apellido1}} {{usuario.Apellido2}}</h3>
			<br>
			<p class="title">{{usuario.Categoria}}</p>
			<br>
			<!--<p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
			<p>{{usuario.email}}</p>
			<br>
			<p><button class="button">Contact</button></p>
		  </div>
		</div>
	  </div>
	</div> 
</div>
<script>
var app=angular.module('holaApp',[]);
app.controller('cntrl', function($scope,$http){

	$http.get("php/customers_mysql.php").then(function (response) 
	{
		$scope.names = response.data.records;
	})

});

</script>

<div class="empleados"></div>

<script src="../bower_components/angular/angular.min.js"></script>
<div class="tablero" ng-controller="cntrl" style="background-image: url(images/EmployeeBack2.jpg)">
	<h1 align="center">Empleados</h1>
	<div class="row">
	  <div class="column" ng-repeat="usuario in names | orderBy : 'Nombre' | filter : {Categoria:'!Administrativo'}">
		<div class="card" style="background-color:rgba(255,255,255,0.78);color:#4E4E4E">
		  <img src="images/img_avatar2.png" alt="{{usuario.Nombre}}" style="width:100%">
		  <div class="container">
			<h3>{{usuario.Nombre}} {{usuario.Apellido1}} {{usuario.Apellido2}}</h3>
			<br>
			<p class="title">{{usuario.Categoria}}</p>
			<br>
			<!--<p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
			<p>{{usuario.email}}</p>
			<br>
			<p><button class="button">Contact</button></p>
		  </div>
		</div>
	  </div>
	</div> 
</div>
<script>
var app=angular.module('holaApp',[]);
app.controller('cntrl', function($scope,$http){

	$http.get("php/customers_mysql.php").then(function (response) 
	{
		$scope.names = response.data.records;
	})

});


</script>

<div class="parallax"></div>


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="../scripts/app.js"></script>
        <script src="../scripts/controllers/main.js"></script>
        <script src="../scripts/controllers/about.js"></script>
        <!-- endbuild -->
        
    <!-- loginPage:js({.tmp,app}) fullscreen-login -->
    <script src="../fullscreen-login/assets/js/jquery-1.8.2.min.js"></script>
    <script src="../fullscreen-login/assets/js/scripts.js"></script>
    <script src="../fullscreen-login/assets/js/supersized-init.js"></script>
    <script src="../fullscreen-login/assets/js/supersized.3.2.7.min.js"></script>
    <!-- endbuild -->
    
	<!-- Connector:php({.tmp,app}) php -->
	<script src="../php/customers_mysql.php"></script>
	<!-- endbuild -->

</body>
</html>

