
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../../imagenes/negocios.jpg");

    /* Full height */
    height: 0%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.linea1{


    background-image: url("../../imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{


    background-image: url("../../imagenes/logoEmpresa.png");
    background-size: 100%;
    width: 100px;
    height: 100px;
    margin:auto;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////                                                                                                            ////
////                                           navbar                                                           ////
////                                                                                                            ////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



* { 
           
    
     margin:0px;
     padding:0px;

}



#header  {  /*menu*/
           
       /*margin:auto;*/
       width: 100%;
       border-radius: 15px;  

}


ul, ol {  /* para borrar puntos en lista*/
           
       list-style:none;  /* */
       

}




.nav li a {  
           
       background-color: #3bd159;
       color: #fff;
       text-align:center;
       text-decoration:none;/*para quira subrayado*/
       padding:10px  12px;  /*tamaño 10alto 15 largo creo*/
       display:block;       /*crea bloque para tenerlo organizado sino estaria deforme*/
       

}



.nav > li {  /*alinear de izquierda a derecha*/
           
       float:left;
       width: 25%;    /*ancho de cada objeo*/
       

}


.nav li a:hover {  /*al pasar raron cambia otro color*/
           
      
       background-color: #434343;

}





.nav li ul {  
           
    display: none;
    position: absolute;
	align-content: center;
    min-width:100%;
    height: 100%;
        
       

}


.nav li:hover > ul{  
           
      
       
       display: block;


}


.nav li ul li {  
           
      width:100%;


       

}



/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////                                                                                                            ////
////                                           login                                                            ////
////                                                                                                            ////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




.cuadroC{

     background-image: url("../../imagenes/fondoLogin.jpg");
     height: 500px;




}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 50px) {
    span.psw {
       display: block;
       float: left;
    }
    .cancelbtn {
       width: 100%;
    }
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////                                                                                                            ////
////                                           div1                                                             ////
////                                                                                                            ////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.div1{

  height:600px;
  background-image: url("../../imagenes/img2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  font-size:36px
}


.div2{

  height:600px;
  background-image: url("../../imagenes/img3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  font-size:36px
}

.administrativos{

  height:70%;
  background-image: url("../../imagenes/Administrativo.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
	color: dimgrey;
  font-size:36px;
}
.empleados{

  height:70%;
  background-image: url("../../imagenes/img3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
	color: dimgrey;
  font-size:36px;
}

.tablero h1{
	font-family: Verdana, san-serif;
	border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color:#e2e2e2; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
	
}
	
	

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////                                                                                                            ////
////                                           Tarjetas de Empleados                                            ////
////                                                                                                            ////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing:inherit;
}

.column {
  float: left;
  width: 25%;
  margin-top: 16px;
  /*margin-bottom: 4px;*/ /*Espaciado entre filas*/
  padding: 0px 8px; /*Espaciado entre columnas*/
}

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 ;
}

.container {
  padding:10px 16px;
	
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}